@font-face {
  font-family: "iconfont"; /* Project id 2711780 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1627869961492') format('woff2'),
       url('iconfont.ttf?t=1627869961492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-icon-test2:before {
  content: "\e658";
}

.icon-icon-test3:before {
  content: "\e659";
}

.icon-icon-test4:before {
  content: "\e65a";
}

.icon-icon-test5:before {
  content: "\e65b";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-fenxiang:before {
  content: "\e8b1";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-shouji:before {
  content: "\e8ba";
}

.icon-sousuo:before {
  content: "\e8bb";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-zhiwen:before {
  content: "\e8c2";
}

.icon-dingwei1:before {
  content: "\ecb7";
}

.icon-dingwei1-copy:before {
  content: "\ecb8";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-shouye:before {
  content: "\e8b9";
}

